/* Unversal */
    * {
        font-family: 'Montserrat', sans-serif;
        color: inherit;
        text-decoration: none;
        margin: unset;
        font-weight: 300;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    a {
        cursor: pointer;
    }
    a.fab {
        font-size: 30px;
    }
    nav, .header-nav-links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: baseline;
        font-size: 25px;
    }
    .cta {
        background-color: #CAE4C1;
        color: black;
        height: 60px;
        width: 200px;
        font-weight: 400;
        font-size: 25px;
        border: none;
        cursor: pointer;
    }
    .cta:hover {
        background-color: white;
        color: black;
    }

    /* Header Styling */
    header {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-size: 30px;
    }
    header > nav {
        width: 100%;
        position: absolute;
        top: 20px;
    }
    .header-nav-links {
        width: 500px;
        margin-right: 150px;
    }
    .title-link {
        font-size: 50px;
    }

/* Home */
    #home-hero {
    background-image: url(./images/real-hero.jpg);
    color: white;
    }
    #mission {
        font-size: 85px;
    }
    #mission-description {
        width: 400px;
        text-align: center;
        margin-bottom: 30px;
    }
    #intro-section {
        height: 800px;
        background-image: url(./images/dough-roll.jpg);
        font-size: 22px;
    }
/* About */
    #about-hero {
        background-image: url(./images/about-hero.jpg);
        justify-content: center;
        align-content: center;
        color: white;
    }
    #about-text {
        font-size: 55px;
        width: 80%;
        min-width: 300px;
        margin-top: 135px;
    }
/* Gallery */
    #gallery-hero {
        background-color: white;
        color: black;
        height: 25vh;
    }
    #gallery-section {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0px;
        text-align: center;
    }
    .gallery-text {
        font-size: 25px;
        text-align: center;
    }
/* Contact */
    #contact-hero {
        height: 200px;
        background-color: white;
        color: black;
    }
    #contact-section {
        height: 1200px;
        margin: 0px 10%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    #contact-instructions {
        font-size: 30px;
        align-self: center;
    }
    form {
        height: 60%;
        font-size: 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        border: 1px solid lightgray;
        padding: 5%;
    }
    input {
        background-color: lightgray;
        border: none;
        padding: 1%;
        font-size: 30px;
    }
    textarea {
        background-color: lightgray;
        border: none;
    }
    form > .cta {
        align-self: center;
        margin-top: 90px;
        height: 85px;
    }
    #contact-section > p {
        text-align: center;
        font-size: 25px;
        margin: 50px 0px;
    }