/* Unversal */

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    margin: unset;
    font-weight: 300;
}
main {
    /*background-color: salmon;*/
}

/* Header */
header {
    background-image: url(./images/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-size: 30px;
}
nav, #header-nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
    font-size: 25px;
}
header > nav {
    width: 100%;
    position: absolute;
    top: 20px;
}
#header-nav-links {
    width: 50%;
}
#header-nav-icons > a.fa-instagram {
    padding-right: 10px;
}
nav > h1 {
    font-size: 40px;
    font-weight: 300;
}
header > h2 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 15px;
}
header > h3 {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
}
a.fab {
    font-size: 28px;
}
.cta {
    background-color: #CAE4C1;
    color: black;
    height: 40px;
    width: 120px;
    font-weight: 400;
    font-size: 16px;
    border: none;
}

/* Main */
#intro-section {
    height: 800px;
    background-image: url(./images/dough-roll.jpg);
    background-size: cover;
}
#text-span {
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
#text-span > h2 {
    font-size: 40px;
    flex-basis: 425px;
}
#text-span > h3 {
    flex-basis: 400px;
}
.main-text {
    color: black;
}
#dough-image {
    width: 100%;
}

/* Bottom */
#bottom-section {
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#bottom-image {
    background-image: url(./images/starcookies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;
    width: 400px;
}
#final-cta {
    width: 38%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.bottom-text {
    color: black;
}
h3.description {
    width: 70%;
}
#footer-button {
    font-size: 24px;
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
}