/* Unversal */
* {
    font-family: 'Montserrat', sans-serif;
    /* color: white; */
    text-decoration: none;
    margin: unset;
    font-weight: 300;
}
a {
    cursor: pointer;
}
.cta {
    background-color: #CAE4C1;
    color: black;
    height: 60px;
    width: 200px;
    font-weight: 400;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
.cta:hover {
    background-color: white;
    color: black;
}

/* Header */
header {
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
}
#home-hero {
    background-image: url(./images/homepage-hero.jpg);
    color: white;
}
#about-hero {
    background-image: url(./images/about-hero.jpg);
    justify-content: center;
    align-content: center;
    color: white;
}
#gallery-hero {
    background-color: white;
    color: black;
    height: 20vh;
}
#gallery-hero > nav, a, p, h1, span {
    color: inherit;
}
a > h1 {
    font-size: 50px;
}
nav, .header-nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
    font-size: 25px;
}
header > nav {
    width: 100%;
    position: absolute;
    top: 20px;
}
.header-nav-links {
    width: 50%;
}
.header-nav-icons > a.fa-instagram {
    padding-right: 10px;
}
header > h2 {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 15px;
}
#home-hero > h2 {
    font-size: 100px;
}
#about-text {
    width: 80%;
    min-width: 300px;
    padding-top: 50px;
    margin: unset;
}
header > h3 {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
}
a.fab {
    font-size: 30px;
}

/* Main */
#intro-section {
    height: 800px;
    background-image: url(./images/dough-roll.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-section {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: unset;
    text-align: center;
}
#gallery-section > a, p {
    font-size: 25px;
}
#instafeed {
    width: 80%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
    "tl tc tr"
    "ml mc mr"
    "bl bc br"
    ;
    row-gap: 5%;
    justify-items: center;
    align-items: center;
}
.feature {
    width: 300px;
    height: 300px;
    background-color: #8C8C8C;
}
    /* Gallery */
        #tl {
            grid-area: tl;
        }
        #tc {
            grid-area: tc;
        }
        #tr {
            grid-area: tr;
        }
        #ml {
            grid-area: ml;
        }
        #mc {
            grid-area: mc;
        }
        #mr {
            grid-area: mr;
        }
        #bl {
            grid-area: bl;
        }
        #bc {
            grid-area: bc;   
        }
        #br {
            grid-area: br;
        }
#gallery-cta {
    font-weight: 300;
}
#gallery-cta:hover {
    background-color: black;
    color: white;
}
#text-span {
    height: 45%;
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 0px 10px;
}
#text-span > h2 {
    font-size: 40px;
    flex-basis: 425px;
}
#text-span > h3 {
    flex-basis: 400px;
}
.main-text {
    color: black;
}
#dough-image {
    width: 100%;
}

/* Bottom */
.cta-section {
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.section-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;
    width: 400px;
}
#bottom-image {
    background-image: url(./images/starcookies.jpg);
}
#aboutpage-image {
    background-image: url(./images/about-bottom.jpg);
    background-position: center;
}
#final-cta {
    width: 38%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.bottom-text {
    color: black;
}
h3.description {
    width: 70%;
}
#about-bottom-text {
    font-size: 30px;
}
#bottom-button {
    font-size: 24px;
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
}

/* Footer */
footer {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #8C8C8C;
    color: white;
}
.footer-list {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
}
nav.footer-list {
    width: 300px;
    justify-content: space-between;
    padding-bottom: 15px;
}
#footer-links {
    width: 150px;
    justify-content: space-between;
    font-size: 35px;
}
#footer-links a {
    font-size: inherit;
}
#signature {
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 20px;
}

@media (max-width: 750px) {

    /* Header */
    header nav {
        flex-flow: column nowrap;
        align-items: center;
    }
    h1 {
        margin-bottom: 20px;
    }
    span.header-nav-links {
        width: 80%;
    }
    .header-nav-icons {
        visibility: hidden;
    }
    header > h2 {
        font-size: 50px;
        text-align: center;
    }
    #about-text {
        font-size: 30px;
    }

    /* Main */
    #text-span {
        padding: 30px 10px;
    }
    h2.main-text {
        margin-bottom: 20px;
    }

    /* Bottom */
    .cta-section {
        height: 1000px;
        flex-flow: column-reverse nowrap;
        justify-content: space-evenly;
    }
    .section-image {
        height: 400px;
        width: 300px;
    }
    #final-cta {
        width: 80%;
        height: 30%;
    }
    footer {
        height: 250px;
    }
}

@media (max-width: 400px) {
    * {
        font-size: 15px;
        overflow: scroll;
    }
    #about-text {
        min-width: unset;
        max-height: 500px;
    }
    footer nav.footer-list {
        width: 200px;
    }
}